
@font-face {
    font-family:Danced fonts;
    src: url(./fonts/Caveat-VariableFont_wght.ttf);
}

body{
    width: 99%;
    height: 100%;
    background-color: #ABA6E9;
     
}

main{
     
    margin: 0 auto;
    text-align: center;
    width: 70%;
    height: 100%;
    margin-top: 7vh;
}


.notes-creator-section{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    text-align: left;
 }


.notes-creator-section-title{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:baseline;
}

.notes-creator-section-title>img{
    width: 30%;
}
.notes-creator-section-title>p{
    font-size: 3.5vw;
    font-weight: 900;
    font-family: Danced fonts;
    margin-left: -10px;
    color: white;
}

.noteAddBtn{
width: 30vh;
height: 3vw;
font-family: sans-serif;
letter-spacing: 2px;
border-radius: 100px;
display: flex;
align-content: center;
align-items: center;
text-align: left;
padding: 10px;
color: white;
background: linear-gradient(45deg,#AB9EAF,#ABA6E9);
font-weight: 600;
margin-top: -1.2vh;
cursor: pointer;
outline: none;
border: 2px solid white;
}

.noteAddBtn>i{
    padding: 10px;
    font-size: 3vh;
}
.noteAddBtn>p{
    font-size: 0.9vw;
}

.noteAddBtn:hover{
    background: linear-gradient(45deg,#AB9EAF,#9c99c9);
}
.noteAddBtn:active{
    background: linear-gradient(45deg,#AB9EAF,#ABA6E9);
    cursor: progress;
}


.notes-section{
    margin-left: -30px;
    width: 100%;
    margin-top: 5vw;
    text-align: left;
    align-items: center;
 
}

.notes-section-childDiv{
    width: 30%;
    height: 200px;
 }

.inputText{
    width: 65%;
    background-color: #f5f5f7;
    min-height: 100px;
    max-height: 400px;
    text-align: left;
    padding: 50px;
    align-items: center;
    position: relative;
    outline: none;
    border-radius: 112px;
    border-bottom-right-radius: 0;
    font-family: cursive;
   
}
.deleteBtn{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
 
 